.project-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.project-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.project-card {
    background: #1a1919;
    padding: 1.2rem 1rem;
    text-align: center;
    position: relative;
    overflow: hidden; /* Ensure the content stays within the card */
}

.project-title {
    color: #fff;
    padding: 1rem 0;
}

.project-card img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.pro-details p {
    padding-bottom: 1rem;
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 1rem; /* Add margin at the bottom of the description */
}

.pro-btns {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* Align buttons to the bottom of the card */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px; /* Add margin to create space between buttons and the card */
}

.pro-btns .btn {
    padding: 0.5rem 1rem;
}

.pro-btns .btn-left {
    order: 1;
}

.pro-btns .btn-right {
    order: 2;
}

@media screen and (max-width: 740px) {
    .project-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}
